.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: var(--color-bg); /* Απαλό γκρι φόντο */
}

.logo-area {
  margin-bottom: 2rem;
  text-align: center;
}

.logo-area h1 {
  color: var(--color-text-main);
  margin: 0;
  font-size: 1.8rem;
}

.logo-area p {
  color: var(--color-text-secondary);
  font-size: 0.9rem;
  margin-top: 0.5rem;
}