.header {
  background-color: var(--header-bg);
  color: var(--header-text);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 72px; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color:  #0c0c0c;
  font-size: 2.0rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
}

.logoText strong {
  font-weight: 900;
}

.logoImage {
  height: 40px;
  width: auto;
  display: block;
  border-radius: 8px;
}


/* Navigation */

.nav {
  display: flex;
  gap: 36px;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #0f0e0e;
  font-weight: 500;
  font-size: 1.05rem;
  transition: color 0.2s ease;
}

.link:hover {
  color: #474646;
}

/* Auth Button */

.authButton {
  padding: 8px 20px;
  background-color: transparent;
  color: #0e0d0d;
  border: 1px solid #444;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
}

.authButton:hover {
  background-color: #81c7e75e;
  border-color: #666;
}
