@import url('./styles/variables.css');
@import url('./styles/layout.css');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-main);
}