/* AppBar.module.css */
.appBar {
  width: 100%;
  background-color: #f5f3f3; 
  border-bottom: 1px solid #333333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 24px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*  logo styles with css */
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.logoCircle {
  width: 50px;
  height: 50px;
  background-color: #81c7e75e; 
  border-radius: 50%;
  flex-shrink: 0;
}

.logoText {
  color: #0c0c0c;
  font-size: 2.0rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: lowercase;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  gap: 36px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #0f0e0e; 
  font-weight: 500;
  font-size: 1.05rem;
}

.navLink:hover {
  color: #474646;
}

/* Actions */
.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}



.icon {
  font-size: 1.3rem;
  margin-right: 8px;
}


.signInButton {
  padding: 8px 20px;
  background-color: transparent;
  color: #0e0d0d;
  border: 1px solid #444;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s;
}

.signInButton:hover {
  background-color: #81c7e75e; 
  border-color: #666;
}

.profileButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  color: #0e0d0d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.profileButton:hover {
  background-color: #81c7e75e; 
}

.profileButton svg {
  width: 24px;
  height: 24px;
}